body{
    background-color: black;
}
.white {
    color: white;
    text-align: center;
    font-size: 45px;
    margin-top: 2vw;
   
}
.white1 {
    color: white;
    text-align: center;
    font-size: 35px;
}
.main_head {
    color: white;
    text-align: center;
    font-size: 80px;
    margin-top: .5vw;
}
.main_pic{
    margin-top: 1vw;
}
.border {
    border-top: 0 !important;
}


@media only screen and (min-width: 992px){
    .container{
        margin-left: 15% !important;
    }
}
